/*робимо основні кольори*/
:root {
 --primary-brand-color: #4D5AE5;
 --title-text-color: #2E2F42;
 --success-color:#31D0AA;
 --primary-text-color: #434455;
 --subtle-text-color: #8E8F99;
 --accent-color: #E7E9FC;
 --light-color:#F4F4FD;
}

/*робимо бордрер-бокс*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*скидаємо розмітку для основних такстових елементів*/
h1,
h2,
h3,
h4,
h5, 
h6,
p {
    margin: 0;
}

/*скидаємо все для списків*/
ul,
ol {
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: calc(24/16);
}

/*прибираємо зі списків крапочки*/
.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

/*ховаємо заголовки*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*задаємо параметри для контейнера*/
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    /*outline: 2px solid red;
    margin: 0 auto;*/
}

/*------HEADER----*/
/*роблю оформлення header*/
.header{
    color: var(--title-text-color);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 76px;

    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.web-logo {
    color: var(--primary-brand-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    letter-spacing: 0.03em;
    text-decoration: none
}

.header-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-link {
    color: var(--title-text-color);
    font-weight: 600;  
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-link:hover,
.header-link:focus {
    color: var(--primary-text-color);

}

.contacts {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts:hover,
.contacts:focus {
    color: #404BBF;
}

.list-contact {
    display: flex;
    margin-left: auto;
    gap: 40px;
}

/*оформлення першої секції з заголовками*/
.title {
    background-color: var(--title-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
    align-content: center;
    text-align: center;
}


.main-title {
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;

    color:#FFFFFF;
    font-weight: 600;
    font-size: 56px;
    line-height: calc(60/56);
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.main-button {
    display: inline-block;
    align-items:center;
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    background-color: var(--primary-brand-color);
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 500; 
    line-height: calc(24/16);
    cursor: pointer;
    padding: 16px, 32px, 16px, 32px;
    border-color: transparent;
}

.main-button:hover,
.main-button:focus
{
    background-color: #404BBF;
}

/*офорлюю частину з текстом*/

.offer {
    margin-top: 120px;
    margin-left: 0;
    margin-right: 0;
}

.offer-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    min-width: 264px;
    min-height: 72px;
}

.h3-title {
    margin-bottom: 8px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
}

.text-list {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
}


/*частина з картинками*/
.images {
    margin-top: 120px;
}

.images-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.title-images {
    color: var(--title-text-color);
    font-weight: 600;
    font-size: 36px;
    line-height: calc(40/36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}


/*частина команди*/
.team {
    background-color: var(--light-color);
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.ul-team {
    display: flex;
    gap: 24px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.team-title {
    color: var(--title-text-color);
    font-weight: 600;
    font-size: 36px;
    line-height: calc(40/36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}

.list-team {
    width: 264px;
    height: 380px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

    color: var(--primary-text-color);
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
}

.team-text {
    margin-top: 32px;
}


/*футер*/
.footer {
    background-color: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer > .container {
    margin-left: 0 auto;
    margin-left: 0 auto;
}

.logo-footer {
    color: var(--light-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-text {
    width: 264px;
    height: 72px;
    margin-top: 16px;
    
    color: var(--accent-color);
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    
}


/*сторінка портфоліо*/
/*секція з кнопками*/
.btn-section {
    margin-top: 96px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.portfolio-btn {
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    padding-right: 24px;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    background-color: var(--accent-color);
    font-family: inherit;
    color: var(--primary-brand-color);
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--primary-brand-color);
    color: #FFFFFF;
}

/*секція з картинками*/

.portfolio-li {
    margin-top: 72px;

    display: flex;
    flex-wrap: wrap;
    column-gap: 24px; 
    row-gap: 48px;
}

.list-portfolio {

  
}

.h2-portfolio {
    margin-bottom: 8px;
    
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.text-portfolio {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.text {
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 0;

    max-width: 360px;
    height: 120px;

    border: 0.5px solid #E7E9FC;
    
}

.footer-portfolio {
    margin-top: 120px;
}











